<p><%= t('.text_1', fullname: @admin.fullname || @admin.username).html_safe %></p>

<p><%= t('.text_2', username: @admin.username).html_safe %></p>

<p>
  <%= link_to t('.text_3'), edit_password_url(@admin, reset_password_token: @token)  %>
</p>

<p><%= t('.text_4').html_safe %></p>

<p>
  <%= t('.text_5').html_safe %>
</p>