<div class="modal fade zoom" id="modal-update-tab">
  <div class="modal-dialog">
    <%= form_for @tab, url: tab_path(t: @tab.sid), method: 'put', remote: true, html: { onsubmit: 'return submitForm($(this));' } do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <%= t('.title') %>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="update-tab-alert" class="alert alert-danger hide"></div>
        <div class="form-group">
          <%= f.label :title, class: "control-label" %>
          <%= f.text_field :title, class: "form-control" %>
          <span id="help-block-title" class="help-block"></span>
        </div>
        <div class="form-group">
          <%= f.label :artists, class: 'control-label' %>
          <%= f.select :artist_ids, @tab.artists.collect { |x| [x.name,  x.id] }, {}, class: 'form-control select-artists', multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :categories, class: 'control-label' %>
          <%= f.select :category_ids, Category.all.collect { |x| [x.name, x.id] }, {}, class: 'form-control', multiple: true %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t('.title'), class: "btn btn-secondary" %>
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">
          <%= t('cancel') %>
        </button>
      </div>
    </div><!-- /.modal-content -->
    <% end %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(".select-artists").select2({
  tags: true,
  language: "<%= I18n.locale %>",
  placeholder: "<%= t('.artist_placeholder') %>",
  ajax: {
    url: "<%= admin_artists_path(type: 'search') %>",
    dataType: "json",
    delay: 250,
    data: function (params) {
      return {
        q: params.term,
        page: params.page
      };
    },
    processResults: function (data, params) {
      return {
        results: data
      };
    },
    cache: true
  },
  escapeMarkup: function (markup) { return markup; },
  minimumInputLength: 1,
  templateResult: formatRepo,
  templateSelection: formatRepoSelection
})

$("#tab_category_ids").select2({
  tags: true,
  language: "<%= I18n.locale %>",
  placeholder: "<%= t('.category_placeholder') %>",
  createTag: function () {
    return null;
  }
})

function formatRepo (repo) {
  if (repo.loading) return repo.text;
  if(typeof repo.avatar_url !== "undefined")
  {
    var markup = "<div class='select2-artist clearfix'>" +
    "<div class='artist-avatar'><img src='" + repo.avatar_url + "' /></div>" +
    "<div class='artist-meta'>" +
    "<div class='artist-name'>" + repo.name + "</div></div>";
  }
  else {
    markup = "<div class='artist-name'>" + repo.text + "</div>"
  }

  return markup;
}

function formatRepoSelection (repo) {
  return repo.name || repo.text;
}

function submitForm(element){
  $(".form-group").removeClass("has-error")
  $("#update-tab-alert").addClass("hide")
  $("#update-tab-alert").html("")
  element.find(".btn").prop("disabled", true)
  $("body").css("cursor", "progress")
}
</script>