<div class="container crawler-content hide">
  <div class="alert alert-warning">
    <h3>
      <%= t('.loading') %>
    </h3>
    <p>
      <span class="sync-text"><i class="fa fa-spin fa-refresh"></i><%= t('.syncing') %></span>
      <span class="tab-title"></span>
    </p>
    <p>
      <%= button_tag '', class: 'btn btn-danger btn-sm', id: 'btn-stop-crawler' do %>
      <%= t('.stop') %>
      <% end %>
    </p>
  </div>
</div>
<script type="text/javascript">
$("#btn-stop-crawler").click(function(){
  $("#launch-modal").html("<%=j render 'admin/tabs/modal_confirm_stop_crawler' %>")
  $("#modal-confirm-stop-crawler").modal({
    keyboard: false,
    backdrop: 'static'
  })
})
</script>