<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <a id="leftmenu-trigger">
    <i class="fa fa-bars"></i>
  </a>

  <div class="navbar-header pull-left">
    <%= link_to '', root_path, class: "navbar-brand" %>
  </div>

  <ul class="nav navbar-nav pull-left toolbar">
    <li class="app-language">
      <%= link_to admin_language_path(language: 'en'), class: "change-language #{'active' if I18n.locale == :en}", remote: true, method: 'put' do %>
      <%= image_tag "languages/en.png" %>
      <% end %>
    </li>
    <li class="app-language">
      <%= link_to admin_language_path(language: 'vi'), class: "change-language #{'active' if I18n.locale == :vi}", remote: true, method: 'put' do %>
      <%= image_tag "languages/vi.png" %>
      <% end %>
    </li>
  </ul>

  <ul class="nav navbar-nav pull-right toolbar">
    <li>
      <%= link_to t(".signout"), destroy_admin_session_path, method: "delete", id: "btn-sign-out"  %>
    </li>
    <li>
      <%= link_to admin_setting_profile_path, class: 'username' do %>
      <span class="hidden-xs">
        <%= current_admin.fullname || current_admin.username %>
      </span>
      <%= image_tag current_admin.avatar, class: 'admin-avatar' %>
      <% end %>
    </li>
  </ul>
</header>