<div class="modal fade zoom" id="modal-upload-images">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <%= t('.new') %>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= form_for(Image.new, url: admin_images_path, remote: true,  authenticity_token: true, html: { method: :post, multipart: true, id: "fileupload" }) do |f| %>
        <%= f.file_field :image, multiple: true, accept: ".jpg, .png, .jpeg", id: "choose-file-image", name: "image[attachment]", style: "display: none" %>
        <div class="row">
          <div class="col-lg-12">
            <div id="files" class="files row"></div>
            <center>
              <h3>
                <%= t(".drop_images_here") %>
              </h3>
              <div class="or-box">
                <span class="border"></span>
                <%= t(".or") %>
                <span class="border"></span>
              </div>
              <div class="fileupload-buttonbar">
                <span id="select-file" class="fileinput-button btn btn-default btn-lg">
                  <span><%= t(".select_file") %></span>
                </span>
              </div>
            </center>
          </div>
        </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$('#modal-upload-images').on('hidden.bs.modal', function (e){
  window.location.reload()
})

$("#select-file").click(function() {
  $("#choose-file-image").click()
})

$(function () {
  $('#fileupload').fileupload({
    dataType: 'json',
    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    disableImageResize: /Android(?!.*Chrome)|Opera/
    .test(window.navigator && navigator.userAgent),
    dropZone: $("#modal-upload-images #fileupload")
  }).on('fileuploadadd', function (e, data) {
    data.context = $('<div class="col-md-3 col-sm-4" />').appendTo('#files');
    $.each(data.files, function (index, file) {
      var node = $('<div class="image-thumbnail" /><br>')
      node.append($('<i class="fa fa-picture-o" />'));
      node.append($('<div class="progress progress-striped active" />').append('<div class="progress-bar progress-bar-secondary" style="width: 100%" />'))
      node.appendTo(data.context);
    });
  }).on('fileuploaddone', function (e, data) {
    file = data.result
    $.each(data.files, function (index) {
      if (file.s200) {
        $(data.context.children()[index]).html("<img class='upload-image' src='"+ file.s200 +"' />")
      } else if (file.errors) {
        $(data.context).remove()
        showMessage("<b>" + file.name + "</b><br> " + file.errors.join("<br>"), "error")
      }
    })
  }).on('fileuploadfail', function (e, data) {
    showMessage("<%= t('alert.system_error') %>.", "error")
  })
})
</script>