<% provide(:og_title, t('.title')) %>
<% provide(:og_description, Setting.seo_description) %>
<% provide(:keywords, Setting.seo_keywords) %>
<% provide(:meta_image, Setting.featured_image) %>
<div id="page-heading">
  <ol class="breadcrumb">
    <li>
      <%= link_to t('admin.title'), admin_path %>
    </li>
    <li>
      <%= t('.title') %>
    </li>
  </ol>
  <h1>
    <%= t('.title') %>
    <small><strong>(<span class="object-count"><%= number_with_delimiter(@count) %></span>)</strong></small>
    <%= button_tag '', class: 'btn has-text btn-danger btn-action pull-right', id: 'btn-multi-destroy-images' do %>
    <i class="fa fa-trash-o"></i>
    <%= t('.multi_destroy') %>
    <% end %>
    <%= button_tag '', class: 'btn pull-right btn-secondary has-text', id: 'btn-upload-images' do %>
    <i class="fa fa-upload"></i>
    <%= t('.new') %>
    <% end %>
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped datatables table-bordered" id="table-images">
        <thead>
          <tr>
            <th class="text-center"><%= check_box_tag 'checkbox', '', false, id: 'check-all' %></th>
            <th><%= t('.table.attachment') %></th>
            <th><%= t('.table.attachment_file_name') %></th>
            <th><%= t('.table.attachment_file_size') %></th>
            <th><%= t('.table.attachment_content_type') %></th>
            <th><%= t('.table.created_at') %></th>
            <th><%= t('manage') %></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div> <!-- container -->
<script type="text/javascript">
$(function(){
  window.selected_id = []
  $("#check-all").click(function () {
    $('.check-one').prop('checked', this.checked);
    showMultiBtnActions();
  });

  $("#table-images").on("click", ".check-one", function(){
    if($(".check-one").length == $(".check-one:checked").length) {
      $("#check-all").prop("checked", true);
    } else {
      $("#check-all").prop("checked", false);
    }
    showMultiBtnActions();
  });

  images_ajax = {
    url :"<%= admin_images_path %>?format=json",
    type: "get"
  }

  window.images_table = dataTableInitialize({
    element: $("#table-images"),
    un_sorted_arr: [0, 1, 6],
    ajax: images_ajax,
    sDom: "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'p>>"
  })

  $("#btn-multi-destroy-images").click(function(){
    $("#launch-modal").html("<%=j render 'shared/modal_confirm_destroy' %>")
    $("#modal-confirm-destroy").find("#btn-confirm").attr("href", "<%= multi_destroy_admin_images_path %>?image_ids="+window.selected_id.join(','))
    $("#modal-confirm-destroy").find("h2").html("<%= t('.destroy_selected') %>?")
    $("#modal-confirm-destroy").modal({
      keyboard: false,
      backdrop: 'static'
    })
  })

  $("#table-images").on("click", ".btn-destroy", function(){
    $("#launch-modal").html("<%=j render 'shared/modal_confirm_destroy' %>")
    $("#modal-confirm-destroy").find("#btn-confirm").attr("href", $(this).data("href"))
    $("#modal-confirm-destroy").find("#confirm-text").html("<%= t('.title').mb_chars.downcase %> " + $(this).data('filename'))
    $("#modal-confirm-destroy").modal({
      keyboard: false,
      backdrop: 'static'
    })
  })

  $("#btn-upload-images").click(function(){
    $("#launch-modal").html("<%=j render 'modal_upload_images' %>")
    $("#modal-upload-images").modal({
      keyboard: false,
      backdrop: 'static'
    })
  })
});
function showMultiBtnActions(){
  window.selected_id = []
  if($(".check-one:checked").length > 0){
    $(".btn-action").fadeIn(0)
    $(".check-one:checked").each(function(){
      window.selected_id.push($(this).val())
    })
  }
  else{
    $(".btn-action").fadeOut(0)
    $("#check-all").prop("checked", false);
  }
}
</script>