<div class="mobile-search-bar">
  <ul class="languages">
    <li class="app-language">
      <%= link_to request.url.gsub('/en', '/vi'), class: "change-language #{'active' if I18n.locale == :vi}" do %>
      <%= image_tag "languages/vi.png" %>
      <% end %>
    </li>
    <li class="app-language">
      <%= link_to request.url.gsub('/vi', '/en'), class: "change-language #{'active' if I18n.locale == :en}" do %>
      <%= image_tag "languages/en.png" %>
      <% end %>
    </li>
  </ul>
  <%= form_tag search_path(language: I18n.locale), method: "get", id: "search-form", name: "search-form", onsubmit: "return submitForm($(this));" do %>
  <div class="form-group">
    <%= text_field_tag :q, "", id: "search-query-mobile", class: "form-control", autocomplete: "off", placeholder: t('.form.search_placeholder') %>
  </div>
  <% end %>
</div>
<div class="mobile-search-results">
  <div class="results"></div>
</div>
<div class="mobile-search-loading">
  <i class="fa fa-spin fa-circle-o-notch"></i>
  <span><%= t('.loading') %></span>
</div>
<script type="text/javascript">
$('#search-query-mobile').keyup(function(e) {
  $(".mobile-search-results").fadeOut(100)
  if($(this).val() != "" || event.keyCode == 8 || event.keyCode == 46){
    $(".mobile-search-loading").fadeIn(100)
    clearTimeout($.data(this, 'timer'));
    $(this).data('timer', setTimeout(mobile_search, 500));
  }
  else{
    $(".mobile-search-loading").fadeOut(100)
  }
})

$('.mobile-search-results .results').on('scroll', function() {
  if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
    if(!stopSearchLoading && $("#search-query-mobile").val() != ""){
      $(".mobile-search-loading").fadeIn(100)
      window.currentSearchPage += 1
      mobile_search()
    }
    else{
    }
  }
})

function mobile_search() {
  var query = $("#search-query-mobile").val();
  if($("#search-query-mobile").val() == "")
    window.currentSearchPage = 1
  $.ajax({
    method: "GET",
    dataType: "script",
    url: "<%= search_path(language: I18n.locale) %>?q=" + query + "&page=" + window.currentSearchPage
  });
}

</script>